
# Gradle build directories
build/
out/

# Gradle files
.gradle/
*.iml
.idea/

# Java class files
*.class

# Maven files
target/

# Eclipse files
bin/
.settings/
.project
.classpath

# Intellij IDEA
*.ipr
*.iws
*.iml
out/

.DS_Store
